body            { font-family: sans-serif; background: #eee; text-align:center; }
a, h1           { color: #377BA8; }
h1              { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }

.node			{ cursor: pointer; }
.node circle    { fill: #fff; stroke: steelblue; stroke-width: 1.5px; }
.node text      { font: bold 16px sans-serif; }
.link			{ fill: none; stroke: #ff8888; stroke-width: 2px; }
.linktext       { fill: black;  font: italic 14px sans-serif}